fastapi
uvicorn[standard]   #venv\Scripts\activate
websockets
apscheduler
sqlalchemy
psycopg2-binary
python-dotenv
deepgram-sdk==3.2.7
python-multipart
elevenlabs
google-genai
deepface
opencv-python
numpy
requests
tf-keras