fastapi
 uvicorn[standard]  #\venv\Scripts\Activate.ps1
sqlalchemy
psycopg2-binary
python-dotenv
anthropic
deepgram-sdk==3.2.7
python-multipart
elevenlabs
google-genai
deepface
opencv-python
numpy
requests
tf-keras